@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Inclusive Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* --responsive- start */

    @media screen  and ( max-width:800px){
        .header-color{
            width: auto%;
            height: 150px;
        }
    }



/* --responsive- end */




/* <!-- -----header-section-start----- --> */

.header-color{
    background-repeat: no-repeat;
    background-color: #CCCCCC;
    width: auto;
    height: 333px;
}
.header-logo{
    display:   flex;
}
.header-logo img{
    position: relative;
    top: 20px;
    height: 500px;
   
}
/* <!-- -----header-section-end----- --> */

/* <!-- -----title-section-start----- --> */
.title-desction{
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
}

.title-desction h1{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight:  200;
    text-transform: uppercase;
}
.title-desction p{
    color: #CCCCCC;
    text-align: center;
    margin-top: 10px;
    padding: 0 400px;
    padding-bottom: 20px;
}
/* <!-- -----title-section-end----- --> */

/* <!-- --------social-media-icon start----- --> */
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social-links .contain img{
    width: 40px;

}

/* <!-- --------social-media-icon end----- --> */

/* --resonsive-for-mobile-- */

@media screen and (max-width: 900px) {
    .header-color {
        height: 201px;
    }
    .header-logo img {
       
        height: 360px;
    }
    .title-desction h1 {
        font-size: 40px;
       
    }
    .title-desction p {
        
        padding: 0 200px;
       
    }
    .title-desction {
        
        margin-top: 170px;
    }
    .social-links .contain img {
        width: 56px;
    }
    .social-links {
        margin-top: 20px;
    }
}
@media screen and (max-width: 700px) {
    .header-logo img {
        height: 310px;
    }
    .title-desction {
        margin-top: 140px;
    }
    .title-desction p {
        padding: 0 100px;
    }
    .social-links .contain img {
        width: 45px;
    }
}
@media screen and (max-width: 600px) {

    .title-desction p {
        padding: 0 50px;
    }
}
@media screen and (max-width: 500px) {
    .header-color {
        height: 120px;
    }
    .header-logo img {
        height: 250px;
    }
    .title-desction p {
        font-size: 15px;
        padding: 0 20px;
    }

    .social-links .contain img {
        width: 35px;
    }
}
@media screen and (max-width: 400px) {

    .title-desction p {
        font-size: 12px;
       
    }

}
@media screen and (max-width: 350px) {
    .title-desction p {
        font-size: 11px;
    }
}
